/* Global color define */

$primary-color: #3c8dbc;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warn-color: #f0ad4e; 
$danger-color: #d9534f;
$purple-color: #9170E4;
$gray-color: #ddd;
$lightgray-color: #eaeaea;
$darkgray-color: #8896a5;
$white-color: #fff;
$black-color: #000;
$dark-color: #222d32;






